body {
	font-family: 'Montserrat', serif;
	font-size: 15px;
    color: #18595D;
    background: #FCFCFC;
}

input {
	border: 0px;
	font-family: 'Montserrat', serif;
	background-color: #FAFAFA;
	font-weight: bold;
	color: #18595D;
}

p {
    margin: 0;
    padding: 0;
}

#info {
	text-align: center;
}

#grafo {
	height: 250px;
	width: 70%;
	text-align: center;
	font-weight: bolder;
	left: 15%;
	right: 15%;
}